.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding-bottom: 60px;
}

.img {
  border-radius: var(--bento__border-radius);
}

.heading {
  margin-top: 10px !important;
  margin-bottom: 8px !important;
}
