.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #ffffff;

  // & {
  //   position: relative;
  //   inset: 50% auto auto 50%;
  //   transform: translate(-50%, -50%);
  //   border-radius: 50%;
  //   background: rgba(255, 255, 255, 0.08);
  //   border: 2px solid transparent;
  //   box-shadow:
  //     0 0 0 2px rgba(255, 255, 255, 0.6),
  //     0 16px 32px rgba(0, 0, 0, 0.12);
  //   backdrop-filter: url(#frosted);
  //   -webkit-backdrop-filter: url(#frosted);
  //   display: grid;
  //   place-items: center;
  //   cursor: pointer;
  //   outline: 0;
  // }

  // &::before,
  // &::after {
  //   content: '';
  //   position: absolute;
  //   width: 40%;
  //   height: 10px;
  //   background: #fff;
  //   border-radius: 10px;
  // }
  // &::after {
  //   transform: rotate(90deg);
  // }

  // Kind: island
  &--kind-island {
    box-shadow:
      0px 0px 1px rgba(0, 0, 0, 0.07),
      0px 1px 1px rgba(0, 0, 0, 0.06),
      0px 3px 2px rgba(0, 0, 0, 0.03),
      0px 6px 2px rgba(0, 0, 0, 0.01),
      0px 9px 2px rgba(0, 0, 0, 0);
  }
  &--kind-outline {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  // Size: xl
  &--size-xl {
    height: 40px;
    padding: 8px;
    border-radius: 12px;

    &.badge--with-text {
      padding-right: 10px;
    }
  }
  // Size: lg
  &--size-lg {
    height: 32px;
    padding: 8px;
    border-radius: 12px;

    &.badge--with-text {
      padding-right: 10px;
    }
  }

  &__image {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    object-fit: contain;
  }

  &__text {
    font-size: 13px;
    line-height: 20px;
    white-space: nowrap;
  }
}
