.wrapper,
.container,
.articles,
.header {
  @include flex(column, flex-start, center);

  width: 100%;
}

.wrapper {
  padding-left: var(--margin-screens-horizontal);
  padding-right: var(--margin-screens-horizontal);
  padding-top: var(--margin-sections-vertical);
  padding-bottom: var(--margin-sections-vertical);
  width: 100%;
}

.container,
.articles {
  width: 100%;
  max-width: var(--container-max-width);
}

.heading {
  width: 100%;
  padding-bottom: var(--gap--heading_section-to-description);
  text-align: center;
  max-width: var(--bento-width);
}

.heading--caption {
  text-align: center;
}

.header {
  max-width: var(--bento-width);
}

.articles {
  padding-top: var(--margin-sections-vertical);
  gap: 52px;
}

@include media-s-breakpoint-and-down {
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
