.wrapper,
.container,
.articles,
.header {
  @include flex(column, flex-start, center);

  width: 100%;
}

.wrapper {
  padding-left: var(--margin-screens-horizontal);
  padding-right: var(--margin-screens-horizontal);
  padding-top: var(--margin-sections-vertical);
  padding-bottom: var(--margin-sections-vertical);
  width: 100%;
}

.container,
.articles {
  width: 100%;
  max-width: var(--container-max-width);
}

.heading {
  width: 100%;
  padding-top: var(--gap--heading_section-to-description);
  max-width: var(--bento-width);
}

.header {
  max-width: var(--bento-width);
}

.articles {
  padding-top: var(--margin-sections-vertical);
  gap: 52px;
}
